* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background: #000;
  font-family: "Poppins", sans-serif;
}

.logo {
  max-width: 1440px;
  height: 90px;
  background-color: #181818;
  position: relative;
}
.logo__info {
  max-width: 1200px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 26.6825%;
}
.logo__info_foto {
  width: 128px;
  height: 31px;
  margin-left: 32px;
}
.logo__button {
  width:  731.81px;
  margin-top: -2px;
}
button {
  color: #ffffff;
  background-color: transparent;
}
.logo__button_1 {
  font-size: 13px;
  padding: 0 0 0 19.81px;
}
.logo__button_2 {
  font-size: 15px;
  padding: 0 0 0 50px;
}
.logo__button_3 {
  font-size: 15px;
  padding: 0 0 0 32px;
}
.logo__button_4 {
  font-size: 15px;
  padding: 0 32px 0 32px;
}
.logo__button_5 {
  font-size: 16px;
  
  border-radius: 14px;
  color: #000000;
  background-color: #ffffff;
  width: 155px;
  height: 42px;
}

.header {
  background: url(/IMG/IMAGE.png)  no-repeat;
  background-size: 100% auto;
  max-width: 1440px;
  max-height: 716px;
  margin-top: -5px;
  overflow: hidden;
 
}

.header__1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 469.5px;
}
.header__main {
  font-size: 54px;
  text-align: center;
  padding-top: 6px;
}
.header__2 {
  padding-top: 37px;
  width: 580px;
  height: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.header__bottom {
  width: 294.75px;
  height: 16px;
  margin-top: 14px;
  margin-left: 1105.25px;
  display: flex;
}
span {
  font-size: 12px;
}
.header__bottomfoto1 {
  padding: 0 6.38px 0 16.13px;
}
.header__bottomfoto2 {
  padding: 0 6px 0 16px;
}
.header__bottomfoto3 {
  padding: 0 7px 0 16px;
}
.header__bottomfoto4 {
  padding: 0 5px 0 16px;
}
.whatwedo {
  background: #000000;
}
.whatwedo__what {
  font-size: 40px;
  text-align: center;
  padding-top: 112px;
}
.whatwedo__theareas {
  font-size: 23px;

  text-align: center;
  padding-top: 15px;
  padding-bottom: 42px;
}
.whatwedo__fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.whatwedo__first {
  background: url(/IMG/whatwedo1.png);
}
.whatwedo__second {
  background: url(/IMG/whatwedo2.png);
}
.whatwedo__third {
  background: url(/IMG/whatwedo3.png);
}
.whatwedo__fourth {
  background: url(/IMG/whatwedo4.png);
}
.whatfoto {
  width: 576px;
  height: 600px;
}
.whatwedo__header {
  padding: 421px 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.whatwedo__text {
  margin: 30px 0 0 30px;
  height: 80px;
}
.whatwedo__button {
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  background: #ffffff;
  height: 42px;
  width: 143px;
  margin-left: 30px;
  border-radius: 14px;
}
.gridfotos {
  margin-top: 100px;
  display: grid;
  grid-template: 1fr 540px 1fr/ 1fr 1fr;
}
.gridfotos__first {
  background: url(/IMG/gridfotos1.png);
  height: 600px;
  grid-area: 1/1/2/3;
}
.gridfotos__first_header {
  height: 280px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 260px 0 0 1080px;
}
.gridfotos__first_text {
  padding-left: 1080px;

  height: 60px;
}
.gridfotos__first_bottom {
  padding-top: 204px;
  padding-left: 1143.25px;
}
.gridfotos__second {
  background: #000;
  height: 540px;
  width: 720px;
  grid-area: 2/1/3/1;
}
.gridfotos__second_header {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 173px 0 0 100px;
}
.gridfotos__second_main {
  font-size: 28px;
  padding: 6px 0 0 100px;
}
.gridfotos__second_text {
  padding: 14px 106px 0 100px;

  height: 60px;
}
.gridfotos__second_button {
  margin: 20px 0 0 100px;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  background: #ffffff;
  height: 42px;
  width: 152px;
  border-radius: 14px;
}
.gridfotos__third {
  background: url(/IMG/gridfotos3.png) no-repeat;
  height: 540px;
  grid-area: 2/2/3/3;
}

.gridfotos__third_bottom {
  padding-top: 484px;
  padding-left: 399.25px;
}
.gridfotos__fourth {
  background: url(/IMG/gridfotos4.png);
  height: 600px;
  width: 1440px;
  grid-area: 3/1/4/3;
}
.gridfotos__fourth_header {
  height: 280px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 260px 0 0 1080px;
}
.gridfotos__fourth_text {
  padding-left: 1080px;

  height: 60px;
}
.gridfotos__fourth_bottom {
  padding-top: 204px;
  padding-left: 1081.25px;
}
.pastclients {
  height: 500px;
}
.pastclients__title {
  font-size: 40px;
  text-align: center;
  padding-top: 113px;
}
.pastclients__text {
  font-size: 24px;

  text-align: center;
  padding-top: 15px;
}
.pastclients__icons {
  width: 1168px;
  height: 158px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
}
.pastclients__icon1 {
  height: 30px;
  width: 128px;
}
.pastclients__icon2 {
  height: 78px;
  width: 128px;
}
.pastclients__icon3 {
  height: 20px;
  width: 128px;
}
.pastclients__icon4 {
  height: 36px;
  width: 128px;
}
.pastclients__icon5 {
  height: 32px;
  width: 128px;
}

.mountains {
  background: url(/IMG/mountains.png);
  height: 600px;
  width: 1440px;
}
.mountains__title {
  height: 280px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 250px 0 0 1080px;
}
.mountains__text {
  padding-left: 1080px;
  padding-right: 119px;

  height: 80px;
}
.mountains__bottom {
  padding-top: 194px;
  padding-left: 1149.25px;
}

.needhelp {
  height: 414px;
}
.needhelp__title {
  width: 571px;
  margin-left: auto;
  margin-right: auto;

  font-size: 40px;
  text-align: center;
  padding-top: 113px;
}
.needhelp__text {
  font-size: 24px;
  color: #c0c0c0;

  text-align: center;
  padding-top: 15px;
}
.gneedhelp__button {
  margin: 22px 0 0 643px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #000000;
  background: #ffffff;
  height: 42px;
  width: 154px;
  border-radius: 14px;
}
.footer {
  height: 652px;
  width: 1440px;
}
.footer__conteiner {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.conteiner-footer__logo {
  width: 457.59px;
  height: 200px;
}
.logo-conteinerfooter__foto {
  width: 128px;
  height: 31px;
}
.logo-conteinerfooter__text {
  padding-top: 20px;
  font-size: 13px;
}
.conteiner-footer__businessareas {
  margin-left: 252.8px;
  width: 220.8px;
  height: 200px;
}
.conteiner-footer_title {
  padding-bottom: 10px;
  letter-spacing: 2px;
  color: #c0c0c0;
  text-transform: uppercase;
}
.conteiner-footer_text {
  padding-bottom: 10px;
}
.conteiner-footer_textsmall {
  padding-bottom: 10px;

  font-size: 13px;
}

.conteiner-footer__pages {
  padding-left: 16px;
  height: 200px;
  width: 220.8px;
}
.conteiner-footer__line {
  width: 1168px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 36px;
  margin-bottom: 36px;
}
.conteiner-footer__subscribe {
  width: 694.39px;
  height: 60px;
}
.subscribe-conteinerfooter__title {
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.subscribe-conteinerfooter__text {
  font-size: 13px;
}
.conteiner-footer__button {
  width: 458px;
  height: 52px;
  border-radius: 12px;
  background: #ffffff;
}
.conteiner-footer__footer {
  font-size: 13px;
}
.conteiner-footer__icons {
  width: 114px;
  height: 24px;
  margin-left: 653px;
}
.conteiner-footer__icons_twitter {
  width: 24px;
  height: 19.5px;
}
.conteiner-footer__icons_instagram {
  margin: 0 26.38px 0 20px;
  width: 24px;
  height: 24px;
}
.conteiner-footer__icons_vk {
  width: 11.25px;
  height: 24px;
}
